*.class
.metadata/
*.log
*.DS_Store
*.iml
*.bak
bin/
gen/
out/
.idea/
target/
.settings/
.svn
node_modules
.checkstyle
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
__MACOSX/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
