<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.bbs.BbsRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.bbs.BbsRecord" >
    <id column="bbs_id" property="bbsId" jdbcType="INTEGER" />
    <result column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="comment_number" property="commentNumber" jdbcType="INTEGER" />
    <result column="commend_number" property="commendNumber" jdbcType="INTEGER" />
    <result column="share_number" property="shareNumber" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="update_time" property="updateTime" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    bbs_id, store_id, user_id, user_type, content, images, comment_number, commend_number, 
    share_number, is_top, is_deleted, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbs_record
    where bbs_id = #{bbsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbs_record
    where bbs_id = #{bbsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.bbs.BbsRecord" >
    insert into bbs_record (bbs_id, store_id, user_id, 
      user_type, content, images, 
      comment_number, commend_number, share_number, 
      is_top, is_deleted, create_time, 
      update_time)
    values (#{bbsId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{userType,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, 
      #{commentNumber,jdbcType=INTEGER}, #{commendNumber,jdbcType=INTEGER}, #{shareNumber,jdbcType=INTEGER}, 
      #{isTop,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{createTime,jdbcType=CHAR}, 
      #{updateTime,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.bbs.BbsRecord" >
    insert into bbs_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bbsId != null" >
        bbs_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="commentNumber != null" >
        comment_number,
      </if>
      <if test="commendNumber != null" >
        commend_number,
      </if>
      <if test="shareNumber != null" >
        share_number,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bbsId != null" >
        #{bbsId,jdbcType=INTEGER},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="commentNumber != null" >
        #{commentNumber,jdbcType=INTEGER},
      </if>
      <if test="commendNumber != null" >
        #{commendNumber,jdbcType=INTEGER},
      </if>
      <if test="shareNumber != null" >
        #{shareNumber,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.bbs.BbsRecord" >
    update bbs_record
    <set >
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="commentNumber != null" >
        comment_number = #{commentNumber,jdbcType=INTEGER},
      </if>
      <if test="commendNumber != null" >
        commend_number = #{commendNumber,jdbcType=INTEGER},
      </if>
      <if test="shareNumber != null" >
        share_number = #{shareNumber,jdbcType=INTEGER},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=CHAR},
      </if>
    </set>
    where bbs_id = #{bbsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.bbs.BbsRecord" >
    update bbs_record
    set store_id = #{storeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      user_type = #{userType,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      comment_number = #{commentNumber,jdbcType=INTEGER},
      commend_number = #{commendNumber,jdbcType=INTEGER},
      share_number = #{shareNumber,jdbcType=INTEGER},
      is_top = #{isTop,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      update_time = #{updateTime,jdbcType=CHAR}
    where bbs_id = #{bbsId,jdbcType=INTEGER}
  </update>
</mapper>