<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zefun.web.mapper.bbs.BbsSettingMapper" >
  <resultMap id="BaseResultMap" type="com.zefun.web.entity.bbs.BbsSetting" >
    <id column="store_id" property="storeId" jdbcType="INTEGER" />
    <result column="single_sign_reward" property="singleSignReward" jdbcType="INTEGER" />
    <result column="serial_days_number" property="serialDaysNumber" jdbcType="INTEGER" />
    <result column="serial_days_reward" property="serialDaysReward" jdbcType="INTEGER" />
    <result column="publish_reward" property="publishReward" jdbcType="INTEGER" />
    <result column="comment_reward" property="commentReward" jdbcType="INTEGER" />
    <result column="commend_reward" property="commendReward" jdbcType="INTEGER" />
    <result column="share_reward" property="shareReward" jdbcType="INTEGER" />
    <result column="top_reward" property="topReward" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    store_id, single_sign_reward, serial_days_number, serial_days_reward, publish_reward, 
    comment_reward, commend_reward, share_reward, top_reward
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bbs_setting
    where store_id = #{storeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bbs_setting
    where store_id = #{storeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zefun.web.entity.bbs.BbsSetting" >
    insert into bbs_setting (store_id, single_sign_reward, serial_days_number, 
      serial_days_reward, publish_reward, comment_reward, 
      commend_reward, share_reward, top_reward
      )
    values (#{storeId,jdbcType=INTEGER}, #{singleSignReward,jdbcType=INTEGER}, #{serialDaysNumber,jdbcType=INTEGER}, 
      #{serialDaysReward,jdbcType=INTEGER}, #{publishReward,jdbcType=INTEGER}, #{commentReward,jdbcType=INTEGER}, 
      #{commendReward,jdbcType=INTEGER}, #{shareReward,jdbcType=INTEGER}, #{topReward,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zefun.web.entity.bbs.BbsSetting" >
    insert into bbs_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="singleSignReward != null" >
        single_sign_reward,
      </if>
      <if test="serialDaysNumber != null" >
        serial_days_number,
      </if>
      <if test="serialDaysReward != null" >
        serial_days_reward,
      </if>
      <if test="publishReward != null" >
        publish_reward,
      </if>
      <if test="commentReward != null" >
        comment_reward,
      </if>
      <if test="commendReward != null" >
        commend_reward,
      </if>
      <if test="shareReward != null" >
        share_reward,
      </if>
      <if test="topReward != null" >
        top_reward,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="storeId != null" >
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="singleSignReward != null" >
        #{singleSignReward,jdbcType=INTEGER},
      </if>
      <if test="serialDaysNumber != null" >
        #{serialDaysNumber,jdbcType=INTEGER},
      </if>
      <if test="serialDaysReward != null" >
        #{serialDaysReward,jdbcType=INTEGER},
      </if>
      <if test="publishReward != null" >
        #{publishReward,jdbcType=INTEGER},
      </if>
      <if test="commentReward != null" >
        #{commentReward,jdbcType=INTEGER},
      </if>
      <if test="commendReward != null" >
        #{commendReward,jdbcType=INTEGER},
      </if>
      <if test="shareReward != null" >
        #{shareReward,jdbcType=INTEGER},
      </if>
      <if test="topReward != null" >
        #{topReward,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zefun.web.entity.bbs.BbsSetting" >
    update bbs_setting
    <set >
      <if test="singleSignReward != null" >
        single_sign_reward = #{singleSignReward,jdbcType=INTEGER},
      </if>
      <if test="serialDaysNumber != null" >
        serial_days_number = #{serialDaysNumber,jdbcType=INTEGER},
      </if>
      <if test="serialDaysReward != null" >
        serial_days_reward = #{serialDaysReward,jdbcType=INTEGER},
      </if>
      <if test="publishReward != null" >
        publish_reward = #{publishReward,jdbcType=INTEGER},
      </if>
      <if test="commentReward != null" >
        comment_reward = #{commentReward,jdbcType=INTEGER},
      </if>
      <if test="commendReward != null" >
        commend_reward = #{commendReward,jdbcType=INTEGER},
      </if>
      <if test="shareReward != null" >
        share_reward = #{shareReward,jdbcType=INTEGER},
      </if>
      <if test="topReward != null" >
        top_reward = #{topReward,jdbcType=INTEGER},
      </if>
    </set>
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zefun.web.entity.bbs.BbsSetting" >
    update bbs_setting
    set single_sign_reward = #{singleSignReward,jdbcType=INTEGER},
      serial_days_number = #{serialDaysNumber,jdbcType=INTEGER},
      serial_days_reward = #{serialDaysReward,jdbcType=INTEGER},
      publish_reward = #{publishReward,jdbcType=INTEGER},
      comment_reward = #{commentReward,jdbcType=INTEGER},
      commend_reward = #{commendReward,jdbcType=INTEGER},
      share_reward = #{shareReward,jdbcType=INTEGER},
      top_reward = #{topReward,jdbcType=INTEGER}
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>
</mapper>